%%-record(table, {database::数据库, table_name::表名, engine::数据库引擎 character_set::编码, comment::注释, columns::列,  option::选项}).
%%-record(column, {column_name::列名, data_type::数据类型, data_length::数据宽度, default::默认值, key::是否为主键, not_null::true不为空，false可为空, unsigned::是否为无符号, comment::注释}).

%%		{column,    列名,            数据类型,         数据宽度,    默认值,     主键,      	非空,   无符号,     注释			}

%% Example
%%{table, sl_user, user_relationship, innodb, utf8, "好友信息",
%%	[
%%		{column,    uin,               	int,               10,         "0",       true,       true,    true,      "玩家id"		},
%%		{column,    refresh_time,  		int,               10,         "0",      false,       true,    true,      "刷新时间"	},
%%		{column,    refresh_cd,  		int,               10,         "0",      false,       true,    true,      "刷新cd"		},
%%		{column,    get_num,			int,               10,         "0",      false,       true,    true,      "领取次数"	},
%%		{column,    supress_num,		int,               10,         "0",      false,       true,    true,      "除暴次数"	},
%%		{column,    req_list,       	term,            2048,          "",      false,       true,    false,     "请求列表"	},
%%		{column,    friends_list,       term,            2048,          "",      false,       true,    false,     "好友列表"	},
%%		{column,    black_list,       	term,            2048,          "",      false,       true,    false,     "黑名单"		},
%%		{column,    broken_list,       	term,            2048,          "",      false,       true,    false,     "关系解除"	}
%%
%%	],
%%	[{permissions, protected}, {pagesize, 100}, {auto_increment, true}]
%%}.

